@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    height: 10vh;
    width: 100%;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    text-align: center;
    justify-content: center;
    position: fixed;
}

nav {
    display: flex;
    color: white;
}

.Logo {
    display: flex;
    align-items: center;
    margin: 0 2vw;
    font-size: 6vh;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0 10vw;
}

nav ul li {
    list-style: none;
    margin: 0 2vh;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 3vh;
}

body {
    background:linear-gradient(120deg,#2980b9,#8e44ad);;
}

#color {
    background-color: orangered;
    height: 1vh;
    margin: 3vh 0;
}

.Greetings {
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

.para {
    background-color: yellowgreen;
    display: flex;
    max-width: 99vw;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
}

.Greeting2 {
    background:linear-gradient(120deg,#2980b9,#8e44ad);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

.vedio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

.link2 {
    text-align: center;
}

.maps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team {
    text-align: center;
    font-size: 3vw;
}

footer3 {
    display: flex;
    height: 8.7vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    color: white;
    font-size: 4vh;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.about {
    background-attachment: fixed;
    margin: 0 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/Images/ITER2.jpg');
    height: 100vh;
    background-repeat: no-repeat;
}

#bishal {
    display: sticky;
    position: relative;
    left: -12vw;
    bottom: 14vh;
    line-height: 8px;
}

#srived {
    line-height: 9px;
    display: inline-block;
    position: relative;
    left: -3vw;
    bottom: 14vh;

}

#dev {
    line-height: 8px;
    display: inline-block;
    position: relative;
    left: 7vw;
    bottom: 14vh;

}

