@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    height: 10vh;
    width: 100%;
    background:linear-gradient(120deg,#2980b9,#8e44ad);
    text-align: center;
    justify-content: center;
    /* position: fixed; */
}

#color {
    background-color: orangered;
    height: 1vh;
    margin: 3vh 0;
}

nav {
    display: flex;
    color: white;
}

.Logo {
    display: flex;
    align-items: center;
    margin: 0 2vw;
    font-size: 6vh;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0 10vw;
}

nav ul li {
    list-style: none;
    margin: 0 2vh;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 3vh;
}
body{
    background: linear-gradient(120deg,#2980b9,#8e44ad) ;
}
.precautions{
text-align: center;
}
.para1{
    text-align: center;
}
.list1{
    display: inline-block;
    position: relative;
    left: 20vw;
}
footer {
    display: flex;
    height: 8vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
    color: white;
    font-size: 4vh;
    position: relative;
    top: 7vh;
    font-family: 'Lato', sans-serif;
}
.para2{
    text-align: center;
}
.Quos1{
    text-align: center;
}
.para3{
    text-align: center;
}
.list2{
    display: inline-block;
    position: relative;
    left: 20vw;
}
.Quos2{
    text-align: center;
}
.para4{
    text-align: center;
}
.list3{
    display: inline-block;
    position: relative;
    left: 20vw;
}
.Quos3{
    text-align: center;
}
.para5{
    text-align: center;
}
.list4{
    display: inline-block;
    position: relative;
    left: 20vw;
}
.Quos4{
    text-align: center;
}
.para6{
    text-align: center;
}
.list5{
    display: inline-block;
    position: relative;
    left: 8vw;
}
