@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    height: 10vh;
    width: 100%;
    background-color: rgb(19, 9, 123);
    text-align: center;
    justify-content: center;
    position: fixed;
}

#color {
    background-color: orangered;
    height: 1vh;
    margin: 3vh 0;
}

nav {
    display: flex;
    color: white;
}

.Logo {
    display: flex;
    align-items: center;
    margin: 0 2vw;
    font-size: 6vh;
}

nav ul {
    display: flex;
    align-items: center;
    margin: 0 17vw;
}

nav ul li {
    list-style: none;
    margin: 0 2vh;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 3vh;
}