nav{
    background-color: rgb(43, 147, 231);
    color: azure;
    flex :size 23px;
    font: bold;
    font-size: 34px;
}

footer{
    background-color: rgb(43, 147, 231);
    color: azure;
    flex :size 23px;
    font: bold;
    font-size: 18px;
    text-align:end;
}

*{
    margin: 0;
    padding: 0;
}

body{
    flex: wrap;
    color: blueviolet;
    background-image: url('https://s.w-x.co/VayuBoat.jpg');
}

h1{
    color: black;
}

h2{
    color: blue;
}